<div class='move'>
    <%= image_tag("cato.jpg",:id => "circle-img")%>
  <h1> About John</h1>
  <p>Thanks for visiting my site! My name is John Cato and I'm a software developer specializing in Ruby/Rails. I live in sunny Tampa, FL with my beautiful wife.</p>
  <ul class="text-left">
    <p>I enjoy:</p>
    <li>Ruby & Rails</li>
    <li>Podcasts</li>
    <li>Traveling</li>
    <li>Coffee(chemex all the way!)</li>
    <li>Family</li>
  </ul>
  <ul class="text-left">
    <p>I dislike:</p>
    <li>Traffic</li>
    <li>kjdksjd</li>
    <li>kjsjsdsj</li>
  </ul>
</div>