<div class="col-md-4">
  <div class="text-center">
    <h1>Follow Me</h1>
  </div>
  <div class="follow-me-icon text-center">
    <a href="https://www.linkedin.com/in/johncato813"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
    <a href="https://twitter.com/cato_hga"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    <a href="https://github.com/cato-hga"><i class="fa fa-github-square" aria-hidden="true"></i></a>
    <!--<a href="mailto:jchristopher.cato@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>-->
  </div>
</div>