/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require froala_editor.min.css
 *= require froala_style.min.css
 *= require plugins/char_counter.min.css
 *= require font-awesome
 *= require_tree .
 *= require_self
 */
@import 'normalize';


#index {
  margin: 15px 15px 15px 15px;
}
.btn-default {
  margin: 15px 15px 15px 15px;
}

h1,h2 {
   font-family: 'Oswald', sans-serif;
}

.container-fluid {
  border-bottom: 1px solid #337ab7;
  background-color: darkturquoise;
}

.navbar-default .navbar-nav>li>a {
  color: black;
}


.navbar-default .navbar-nav>li>a:hover {
color: white;
}

p {
  font-family: 'Abel', sans-serif;
  font-size: 20px;
  word-wrap: break-word;
}

.fa.fa-twitter:hover {
  color: white;
}

.fa.fa-linkedin-square:hover {
  color: dodgerblue;
}

.fa.fa-github-square:hover {
  color: lightgrey;
}
.container-fluid {
  height: 100%;
}
.top {
  font-family: 'Abel', sans-serif;
  font-size: 20px;
}

#sign_up {
  margin: 15px;
}

html {
  height: 70%;
}

nav.navbar.navbar-default {
  margin: 1px;
}

body {
  background-color: white;
  height: 100%;
}

.wrap {
  word-wrap: break-word;
}

#circle-img {
  border-radius: 50%;
  margin: 10px;
  height: 250px;
  width: 250px;
}


/*flash*/

