// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.move {
  text-align: center;
  list-style-position: inside;
  color: black;
}
.email {
  color: rgba(0, 0, 0, 0.62);
}
.email:hover {
  color: rgb(255, 193, 7);
}

.pages_hide {
  display: none;
}

#currentlylearning-link {
  color: black;
  text-decoration: underline;
}

#currentlylearning-link:hover {
  color: rgba(0, 0, 0, 0.12);
}

#currenthobbies-link {
  color: black;
  text-decoration: underline;
}

#currenthobbies-link:hover {
  color: rgba(0, 0, 0, 0.12);
}

.hobbies_hide {
  display: none;
}