// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page_wrapper {
  margin: 15px;

}

.color {
  box-shadow:  5px 5px 2px slategrey;
 background-color: lightgrey;
}

.form-control {
  line-height: 4;
}

